#content {
    padding:3px;
}
header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
  }
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    color: rgb(66, 0, 128);
    font-size:medium;
}
h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bolder;
    color:darkgreen;
    font-size:larger;
}